@model IEnumerable<DTO.RentRoomMemberEntity>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_room)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_member)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastdate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_room)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_member)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastdate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
