@model DTO.RoomEntity

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_hotel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_hotel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.detail_short)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detail_short)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.detail_long)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detail_long)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.capacity_room)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capacity_room)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.capacity_bathroom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capacity_bathroom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.capacity_wc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capacity_wc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.balcony_include)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.balcony_include)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.air_condition_include)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.air_condition_include)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wifi_include)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wifi_include)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.small_bar_include)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.small_bar_include)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.autorization_animals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.autorization_animals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tv_include)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tv_include)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.breakfast_include)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.breakfast_include)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
